<div class="backIcon">
    <%= link_to :back do %>
    <span class="fa fa-arrow-left fa-lg"></span> 
    <% end %>
</div>

<div class="content">
    <div class="contNew"></div>
        <h2 class="fw-bold mb-4 display-4">For You</h2>
        <p class="text-muted text-center">Threads of users you have been following. <br> Might be empty if you've 0 followers or you followers hasn't posted any threads</p>
        <% current_user.following.each do |x| %>
            <% x.posts.each do |post| %>
                <div class="cont"> 
                    <div class="posts">
                        <div class="user-info">
                            <div class="image">
                                <% if post.user.image.attached? %>
                                <%= image_tag(post.user.image, class: 'profilePicture')  %>
                                <% else %>
                                <%= image_tag('img/thread-white.png', width: '50px')  %>
                                <% end %>
                            </div>
                            <div class="name-post">
                                <div class="name-time">
                                    <p class="user-name"><%= post.user.email %></p>
                                    <p><%= time_ago_in_words(post.created_at) + ' ago'%>  |  <%= pluralize(post.views, 'view')%></p>
                                </div>
                                <h5 class="user-post"><%= link_to (post.title.length > 280 ? post.title.first(280) + ' . . . . .' : post.title) , post_path(post), class: 'noDecoration' %></h5>
                            </div>
                        </div>
                        <% if post.image.attached? %>
                            <div class="user-post-image">
                                <%= link_to image_tag(post.image, class: 'post-image'), post_path(post)%>
                            </div>
                        <% end %>
                    </div>
                </div>
        <% end %>
        <% end %>
</div>




